
 <% if message.user_id == current_user.id %>
  <div class="message-container current-user" id="message-<%= message.id %>">
    <div class="messages-user">
      <%= cl_image_tag message.user.profile.photo.key, class: 'avatar-large' %>
      <div class="messages-content">
        <p><small><%= message.user.profile.username %></small></p>
        <p><%= message.content %></p>
        <h6><%= message.created_at.strftime("%l:%M%p") %></h6>
      </div>
      <div class="messages-actions">
      </div>
    </div>
  </div>

  <% else %>
  <div class="message-container other" id="message-<%= message.id %>">
    <div class="messages-contacts">
      <%= cl_image_tag message.user.profile.photo.key, class: 'avatar-large' %>
      <div class="messages-content">
        <p><small><%= message.user.profile.username %></small></p>
        <p><%= message.content %></p>
        <h6><%= message.created_at.strftime("%l:%M%p") %></h6>
      </div>
      <div class="messages-actions">
      </div>
    </div>
  </div>
<% end %>
