      <div class="container">
        <h4>Complete your profile before using buddy</h4>
        <%= simple_form_for @profile do |f| %>
          <%= f.input :username %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :bio %>
          <%= f.input :phone_number %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: "btn btn-create"%>
        <% end %>
      </div>
