<div class="top-block-small">
    <%= link_to :back do %>
      <div class="btn-back"><i class="fas fa-chevron-left"></i></div>
    <% end %>
    <h3 class="top-block-heading">Current Chats</h3>
</div>

  <% @chatrooms.each do |chatroom|  %>
     <% if chatroom.messages.present? %>
      <div class="card-whole mr-2 mb-1 ml-2">
        <div class="chatroom">
          <div class="chatroom-photo">
            <%= link_to chatroom_path(chatroom) do %>
              <%= cl_image_tag chatroom.users.first.profile.photo.key, class: 'avatar-big' %>
            <% end %>
          </div>

          <div class="chatroom-content">
            <div class="name-date d-flex justify-content-between">
              <p><%= chatroom.users.first.profile.username %></p>
              <p class="name-date-time"><%= chatroom.messages.last.created_at.strftime('%l:%M%P') %></p>
            </div>
            <p><small><em> <%= chatroom.messages.last.content[0..40] %> </em></small></p>
          </div>
        </div>
        <div class="chatroom hidden">
          <div class="chatroom-photo">
            <%= cl_image_tag chatroom.users[0].profile.photo.key, class: 'avatar-big' %>
          </div>
          <div class="chatroom-name mr-3">
            <h6><%= chatroom.name %></h6>
            <div class="chatroom-actions d-flex justify-content-end">
              <%= link_to chatroom_path(chatroom) do %>
                <p>enter<i class="fas fa-check-circle text-success mr-3"></i></p>
              <% end %>
              <%= link_to root_path do %>
                <p>delete<i class="fas fa-times-circle text-danger"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <h1></h1>
      <% end %>
  <% end %>
