<div class="container mt-3">
  <h3 class="mb-3">Current Chats</h3>
</div>

  <% @chatrooms_sorted.each do |chatroom|  %>
    <%= link_to chatroom_path(chatroom) do %>
      <div class="chatroom mb-2">
        <%= image_tag chatroom.users[1].photo, class: 'avatar-large' %>
        <div class="chatroom-content">
          <p><%= chatroom.name %> <small>with <%= chatroom.users[1].username %></small></p>
          <p><small>last: <em> <%= chatroom.messages.last.content %> </em> at <%= chatroom.messages.last.created_at %></small></p>
        </div>

        <div class="chatroom-actions">
        </div>
      </div>
    <% end %>
  <% end  %>

<p>sort these by soonest event (ie, most pressing chatroom)</p>
<p>maybe a sort by function</p>
