<div class="top-block-small">
    <%= link_to :back do %>
      <div class="btn-back"><i class="fas fa-chevron-left"></i></div>
    <% end %>
    <h3 class="top-block-heading">#<%= @chatroom.name[0..14] %></h3>
</div>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <%= render @chatroom.messages %>
  </div>
<div class="container">
  <div class="message-form">
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "type message here" %>
  <% end %>
  </div>
</div>

<%# <div class="show-buttons">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#inviteModal">
    Invite people
  </button>
</div>
<%= render 'invite_people', users_available: @users_available, chatroom: @chatroom%>
