<h1><%= @event.name %></h1>


<h3>Guests Attending</h3>

<% @bookings.each do |booking| %>
<h4>User: <%=link_to "#{booking.user.username}", booking_path(booking), method: :get %></h4>
<h5>Intention: <%= booking.intention.name %></h5>
<p>Description: <%= booking.intention_description %></p>
<p>Booking id:<%= booking.id %></p>
<% end %>
