<div class="container">
  <h4><%= @event.name %></h4>
  <h5 class="mt-5">Guests Attending</h5>

  <% @bookings.each do |booking|  %>
    <%= link_to booking_path(booking), method: :get do %>
      <div class="notification mb-2">
        <%= image_tag booking.user.profile.photo, class: 'avatar-large' %>
        <div class="notification-content">
          <p><small>Intention: <%= booking.intention.name %></small></p>
          <p><strong><%= booking.user.profile.username %></strong></p>
        </div>

        <div class="notification-actions">
        </div>
      </div>
    <% end %>
  <% end  %>
</div>
