      <%= link_to event_path(event) do %>
        <li class="event-card">
          <div class="event-card-photo">
            <%= cl_image_tag event.photo.key %>
          </div>
          <div class="event-card-info p-2">
            <div class="date-guests d-flex justify-content-between">
              <div class="date-time"><%= event.date.strftime("%d/%m/%Y") %> | <%= event.time.strftime("%k:%M")%></div>
              <div class="guestcount"><i class="fas fa-users"></i> <%= event.bookings.count %></div>
            </div>
            <p><%= event.name %></p>
            <div class="event-location text-right">
              <p><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
            </div>
          </div>
        </li>
      <% end %>
