<div class= "xoxota" data-refresh-list-target="list">
  <% if params[:query].present? %>

  <div class="app scroll-section-top">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class=""><%= pluralize events.count, 'result' %> for <code><%= params[:query] %></code></h5>

          <div class="d-flex">
            <%= link_to new_event_path do %>
            <h5 class="mb-0 pb-0 event-icons-main"><i class="fas fa-plus"></i></h5>
            <% end %>
          </div>
        </div>
        <ul class="hs full no-scrollbar">
          <% events.each do |event| %>
            <%= link_to event_bookings_path(event) do %>
              <li class="event-card">
                <div class="event-card-photo">
                  <%= cl_image_tag event.photo.key %>
                </div>
                <div class="event-card-info p-2">
                  <div class="date-guests d-flex justify-content-between">
                    <div class="date-time"><%= event.start_time.strftime("%d/%m/%Y") %> | <%= event.start_time.strftime("%k:%M")%></div>
                    <div class="guestcount"><i class="fas fa-users"></i> <%= event.bookings.count %></div>
                  </div>
                  <p><%= event.name %></p>
                  <div class="event-location text-right">
                    <p><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>






  <% end %>
</div>
