
<div class="top-block">
  <div class="top-block-container">
    <div class="index-user-header d-flex justify-content-between align-items-center mb-4">
      <div class="index-user-info d-flex align-items-center">
        <%= cl_image_tag @user.profile.photo.key, class: "avatar-large" %>
        <div class="date-name">
          <p class="date mb-0"><%= @date %></p>
          <p class="name mb-0"><%= @user.profile.first_name %> <%= @user.profile.last_name %></p>
        </div>
      </div>
      <div class="index-user-links d-flex">
        <div class="index-icon"><i class="fas fa-bell text-white"></i></div>
        <div class="index-icon"><i class="fas fa-comment text-white"></i></div>
        <div class="index-icon"><i class="fas fa-bars text-white"></i></div>
      </div>
    </div>

<%# ------------  search -------------- %>

    <div class="index-search pb-1">
      <div class="events-search-title mb-2">
        <h5>Find events</h5>
        <p><%= @events.count %> vibes happening near you</p>
      </div>
      <div class= "input-container" data-controller="refresh-list">
        <div class="justify-content-center">
          <div class="search-bar">
            <%= form_with url: events_path, method: :get, style:"width:70%", html: { class: 'searchbar', data: { refresh_list_target: 'form' } } do |f| %>
              <%= f.text_field :query,
                                class: "form-control search",
                                placeholder: '...',
                                value: params[:query],
                                data: {
                                refresh_list_target: 'searchInput',
                                action: "keyup->refresh-list#update"
                              } %>
            <% end %>
          </div>
        </div>
        <%= render 'list', events: @pg_search_events %>
      </div>
    </div>
  </div>
</div>
<%# ---------- popular events horizontal scroll ---------------- %>

<div class="app scroll-section-top">
  <div class="">
    <h5>Popular Events</h5>
    <p>The biggest vibes in your area</p>
  </div>
  <ul class="hs full no-scrollbar">


    <% @events.each do |event| %>
     <% if event.bookings.where(user: current_user).present? %>
      <%= render "event_booking_card", event: event %>
     <% else %>
      <%= render "event_card", event: event %>
      <% end %>
    <% end %>
  </ul>
</div>

<%# ---------- outdoor events horizontal scroll ---------------- %>

<div class="app scroll-section">
  <div class="scroll-section-header">
    <div>
      <h5>Outdoor Adventures</h5>
      <p>Get out there man</p>
    </div>
    <div>
      <p class="all-events"><%= link_to "all", category_path(@outdoor) %><small> (<%= @outdoors.count %>)</small></p>
    </div>
  </div>
  <ul class="hs full no-scrollbar">

    <% @outdoors.each do |event| %>
      <%= link_to event_path(event) do %>
        <li class="event-card">
          <div class="event-card-photo">
            <%= cl_image_tag event.photo.key %>
          </div>
          <div class="event-card-info p-2">
            <div class="date-guests d-flex justify-content-between">
              <div class="date-time"><%= event.start_time.strftime("%d %b %y") %> <strong> | </strong> <%= event.start_time.strftime("%k:%M")%></div>
              <div class="guestcount"><i class="fas fa-users"></i> <%= event.bookings.count %></div>
            </div>
            <p><%= event.name %></p>
          </div>
          <div class="event-location text-right">
            <p class="event-address"><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%# ---------- dining events horizontal scroll ---------------- %>

<div class="app scroll-section">
  <div class="scroll-section-header">
    <div>
      <h5>Dining Extravaganzas</h5>
      <p>For the fuzzy tingle nighttimes</p>
    </div>
    <div>
      <p><%= link_to "all", category_path(@dining) %><small> (<%= @dinings.count %>)</small></p>
    </div>
  </div>
  <ul class="hs full no-scrollbar">

    <% @dinings.each do |event| %>
      <%= link_to event_path(event) do %>
        <li class="event-card">
          <div class="event-card-photo">
            <%= cl_image_tag event.photo.key %>
          </div>
          <div class="event-card-info p-2">
            <div class="date-guests d-flex justify-content-between">
              <div class="date-time"><%= event.date.strftime("%d %b %y") %> <strong> | </strong> <%= event.time.strftime("%k:%M")%></div>
              <div class="guestcount"><i class="fas fa-users"></i> <%= event.bookings.count %></div>
            </div>
            <p><%= event.name %></p>
            <div class="event-location text-right">
              <p><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%# ----------------- Categories cards section ------------------------%>
<div class="categories bottom-block mt-3 pb-3">
  <h2 class="mb-4 text-white">Categories</h2>
  <div class="cards">
    <% @categories.each do |category| %>
      <%= link_to category_path(category) do %>
        <div class="card-category">
          <div class="category-photo">
            <%= image_tag category.photo %>
          </div>
          <div class="category-title">
          <p><%= category.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
