<div class="container-event">
    <div class="event-img">
      <%=image_tag "rolling stones.jpg", class: "event-pic" %>
    </div>
      <div class = "event-info">
        <h2><%= @event.name %></h2>
        <h4>Date: <%= @event.date.strftime("%d/%m/%Y") %></h4>
        <p>Time: <%= @event.time.strftime("%k:%M")  %></p>
      </div>
    </div>


    <div>
      <p>Description: <%= @event.description %></p>
    </div>

  <div id="map"
      style="width: 100%;heigth:100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <%= link_to "Join Event", new_event_booking_path(@event), class: "btn btn-ghost" %>
</div>
