  <div class="index-head">
    <%= link_to :back do %>
      <div class="btn-back"><i class="fas fa-chevron-left"></i></div>
    <% end %>
    <div class="container-event">
      <div class="event-img">
        <%= image_tag @event.photo, class: "event-pic" %>
      </div>
    </div>
    <div class="container">
      <div class = "event-info">
        <h4><%= @event.name %></h4>
      </div>
      <div class="d-flex justify-content-arouns event-icons">
        <p><i class="fas fa-calendar"></i> <%= @event.date.strftime("%d %b %y") %></p>
        <p style="width: 200px"><i class="fas fa-map-marker-alt"></i> <%= @event.address %></p>
        <p><i class="fas fa-users"></i> <%= @event.bookings.count + 1 %></p>
      </div>
    </div>
  </div>

<div class="container full-event-details mt-3">
  <div>
    <h4><i class="fas fa-angle-double-right mr-1"></i>About</h4>
    <p><%=@event.description%></p>
  </div>
  <div class="show-buttons d-flex justify-content-center mt-4 mb-4">
    <button type="button" class="btn btn-join" data-toggle="modal" data-target="#intentionsModal">
      Join Event
    </button>
  </div>
  <%= render 'intentions', event: @event, booking: @booking %>
  <div>
    <h4><i class="fas fa-angle-double-right mr-1 mb-2"></i> Location</h4>
  </div>
</div>

<div class="mapbox-map">
  <div id="map"
        style="width: 100%;heigth:100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
