<div class="container-event">
    <div class="event-img">
      <%= image_tag @event.photo, class: "event-pic" %>
    </div>
</div>
<div class="container">
  <div class = "event-info">
    <h2><%= @event.name %></h2>
  </div>
  <div class="row edit">
    <i class="fas fa-calendar"></i>
    <p><%= @event.date.strftime("%d/%m/%Y") %></p>
    <p><%= @event.time.strftime("%k:%M")%></p>
  </div>
  <div>
    <h4>About</h4>
    <p><%=@event.description%></p>
  </div>


  <div class="Join">
    <%= link_to "Join Event", new_event_booking_path(@event), class: "btn btn-create"  %>
  </div>
  </div>

<div class="mapbox-map">
  <div id="map"
        style="width: 100%;heigth:100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
