<div class="container">

  <div class="dash-head mt-2 mb-3 d-flex justify-content-between align-items-center">
    <h4 class= "m-0">DASHBOARD</h4>
    <div class="dropdown">
      <%= cl_image_tag @user.profile.photo.key, class: "avatar dropdown-toggle", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Account", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Profile", edit_profile_path(@user), class: "dropdown-item" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  </div>
<%# ----- Calendar  ------- %>
<div class="calendar-container">
    <%= month_calendar(events: @events_month) do |date, events| %>
      <%= date %>
      <% events.each do |event| %>
        <div class="events_month">
          <p><%= link_to event.name[0..6], event_path(event) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<%# ----- these create the tabs (adapt for mobile)  ------- %>

  <ul class="nav nav-tabs list-inline tabs-underlined mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active tab-underlined" id="myevents-tab" data-toggle="tab" href="#myevents" role="tab" aria-controls="myevents" aria-selected="true">My Events</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link tab-underlined" id="nudgesin-tab" data-toggle="tab" href="#nudgesin" role="tab" aria-controls="nudgesin" aria-selected="false">Notifications</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link tab-underlined" id="nudgespending-tab" data-toggle="tab" href="#nudgespending" role="tab" aria-controls="nudgespending" aria-selected="false">Pending</a>
    </li>
  </ul>

  <%#---     this is the tabbed content  -----%>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="myevents" role="tabpanel" aria-labelledby="myevents-tab">
      <div class="mb-2 mt-4 info-section">
        <% @events.each do |event|%>
          <%= link_to event_bookings_path(event) do %>
          <div class="card-event mb-1">
            <%= cl_image_tag event.photo.key %>
            <div class="card-event-infos">
              <h2><%= event.name%></h2>
              <p><strong> <%= event.date %></strong></p>
              <p class= "float-right"><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nudgesin" role="tabpanel" aria-labelledby="nudgesin-tab">
      <div class="mb-2 mt-4 info-section">
        <div>
         <% @notifications.each do |notification|  %>
          <div class="notification mb-2">
            <%= cl_image_tag notification.requester.user.profile.photo.key, class: 'avatar-large' %>
            <div class="notification-content">
              <p><small> Request from <%= notification.requester.user.profile.username %> for <strong><%= notification.requester.event.name %></strong> on <strong><%= notification.requester.event.date %><strong></small></p>
              <p class= "reason-comment mt-1">"<%= notification.reason %>"</p>
            </div>

            <div class="notification-actions mr-4">
              <%= link_to accept_request_url(notification), method: :patch do %>
                <i class="fas fa-check-circle text-success"></i>
              <% end %>
              <%= link_to reject_request_path(notification), method: :patch do %>
                <i class="fas fa-times-circle text-danger"></i>
              <% end %>
            </div>
          </div>
         <% end  %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nudgespending" role="tabpanel" aria-labelledby="nudgespending-tab">
      <div class="mb-2 mt-4 info-section">
        <div>
         <% @requests.each do |request|  %>
          <div class="notification mb-2">
            <%= cl_image_tag request.requestee.user.profile.photo.key, class: 'avatar-large' %>
            <div class="notification-content">
              <p><small>Sent to <%= request.requestee.user.profile.username %> for <%= request.requestee.event.name %></small> </p>
              <p class= "reason-comment mt-1">"<%= request.reason %>"</p>
            </div>
          </div>
         <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>
