
<div class="container">

  <div class="back-button-link">
    <%= link_to 'javascript:history.go(-1);' do %>
      <div class="back-button">
        <p>Back</p>
      </div>
    <% end %>
  </div>

  <%= link_to "Back", :back, :class => "btn btn-inverse" %>

  <h3><%= @category.name %></h3>

  <% @events.each do |event|  %>
    <%= link_to event_path(event) do %>
    <div class="card-event-show mb-2">
      <%= image_tag event.photo %>
      <div class="card-event-show-infos">
        <div>
          <h2><%= event.name %></h2>
          <p>Taking place on <%= event.date %> at <%= event.time %></p>
        </div>
        <%# <h2 class="card-event-show-pricing"><%= event.date %></h2>
        <%# <%= image_tag event.category.photo, class: "card-event-show-user" %>
      </div>
    </div>
    <% end %>
  <% end  %>
</div>
